@font-face {
	font-family: 'Bellota-LightItalic';
	src: url('../fonts/Bellota-LightItalic.otf');
}

@font-face {
	font-family: 'Bellota-BoldItalic';
	src: url('../fonts/Bellota-BoldItalic.otf');
}

body {
	line-height: 17px;
	background-color: #EED892;
/*	max-width: 80em;
*/}

a {
	color: #C69259;
    text-decoration: none;
}

.top_bar {
	width: 100%;
	min-width: 1050px;
	height: 75px;
	background-color: #C69259;
	border-bottom: 5px solid #F7DF72;
	margin: 0 0 10px 0;
	display: inline-flex;
	position: fixed;
	z-index: 10;
}

.logo {
	padding: 25px 0 0 20px;
}

.logo a {
	font-family: 'Rock Salt', sans-serif;
	margin: 0 0 0 10px;
	font-size: 40px;
	position: relative;
	top: 3px;
	color: white;
	text-shadow: #F7DF72 0.05px 0.05px 0px;
}

a:hover {
	text-decoration: none;
}

nav {
	float: right;
	right: 1px;
	position: absolute;
	margin: 25px;
}

nav a {
	position: relative;
	color: white;
	text-decoration: none;
	font-size: 25px;
}

nav a:hover {
	border-bottom: 4px solid brown;
	color: brown;
}

.wrapper {
	margin: 0 auto;
	top: 50px;
	position: relative;
	padding: 0 10px;
	width: 80%;
	min-width: 950px;
}

.column {
	background-color: #ffffff;
	padding: 10px;
	border: 1px solid #C69259;
	border-radius: 7px;
	box-shadow: 2px 2px 1px #C69259;
	z-index: -1;
}

.user_details {
	width: 250px;
	float: left;
	margin-top: 35px;
}

.user_details_left_right {
	padding: 5px;
	width: 125px;
	display: inline-table;
	position: absolute;
}

.user_details img {
	height: 120px;
	border-radius: 7px;
}

.main_column {
	float: left;
	margin: 85px 0 0 30px;
	width: 60%;
	z-index: -1;
	min-height: 160px;
}

.post_form {
	width: 100%;
}

.post_form textarea {
	padding: 5px;
	width: 80%;
	height: 60px;
	border-radius: 7px;
	margin-right: 5px;
	border: 1px solid #C69259;
	font-size: 12px;
}

.post_form input[type="submit"] {
	width: 10%;
	height: 60px;
	border: none;
	border-radius: 3px;
	background-color: #EED892;
	font-family: 'Rock Salt', sans-serif;
	color: #C69259;
	text-shadow: #F7DF72 0.05px 0.05px 0px;
	font-size: 35px;
	position: absolute;
	outline: 0;
	margin: 0;
}

.post_form input[type="submit"]:active {
	padding: 5px 4px 4px 5px;
	color: #C69259;
}

.status_post {
	width: 96%;
	font-size: 15px;
	padding: 15px;
	min-height: 75px;
	cursor: pointer;
}

.post_profile_pic {
	float: left;
	margin-right: 7px;
}

.post_profile_pic img {
	border-radius: 10px;
}

#comment_iframe {
	max-height: 250px;
	width: 100%;
	margin-top: 5px;
}

.comment_section {
	padding: 0 5px 5px 5px;
}

.comment_section img{
	margin: 0 3px 3px 3px;
	border-radius: 5px;
}

#comment_form textarea {
	width: 87%;
    height: 35px;
    border-radius: 10px;
    border-color: #C69259;
    font-size: 14px;
    margin: 3px 3px 3px 5px;
}

#comment_form input[type="submit"] {
	border: none;
    background-color: #C69259;
    color: #F7DF72;
    border-radius: 10px;
    width: 9%;
    height: 35px;
    position: absolute;
    margin-top: 5px;
    font-family: 'Rock Salt', sans-serif;
	text-shadow: #F7DF72 0.05px 0.05px 0px;
}

.newsfeedPostOptions {
	padding: 0px;
	text-decoration: none;
	color: #000000;
	border: none;
}

.newsfeedPostOptions iframe {
	border: none;
	height: 17px;
    width: 120px;
}

.comment_like {
    border: none;
    color: #C69259;
    padding: 0;
    font-size: 14px;
    background-color: transparent;
    height: auto;
    width: auto;
    margin: 0;
}

.like_value {
	display: inline;
	font-size: 14px;
}

.profile_left {
    top: 26px;
    width: 17%;
    max-width: 240px;
    min-width: 130px;
    height: 100%;
    float: left;
    position: relative;
    background-color: #c69259;
    border-right: 10px solid #F7DF72;
    margin-right: 20px;
}

.profile_left img {
	min-width: 80px;
	width: 55%;
	margin: 20px;
	border: 5px solid #eed892;
	border-radius: 100px;
}

.profile_info {
	/*display: list-item;*/
	background-color: #ffffff;
	width: 100%;
	padding: 10px 0 10px 0;
}

.profile_info p {
	margin: 0 0 0 20px;
	word-wrap: break-word;
}

.danger {
	background-color: red;
}
.warning {
	background-color: yellow;
}
.default {
	background-color: gray;
}
.success {
	background-color: green;
}
.info {
	background-color: orange;
}
.deep_blue {
	background-color: blue;
}

.profile_left input[type="submit"] {
	width: 90%;
    height: 30px;
    margin: 0 0 0 15px;
    padding: 0;
    border-radius: 10px;
    color: white;
}

#accept_button {
	width: 20%;
	height: 30px;
	border-radius: 10px;
	margin: 5px;
	border: none;
	color: #fff;
	background-color: darkgreen;
}

#ignore_button {
	width: 20%;
	height: 30px;
	border-radius: 10px;
	margin: 5px;
	border: none;
	color: #fff;
	background-color: red;
}